<a href="https://colab.research.google.com/github/JeremyS-W/baseball-analysis/blob/main/prelim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
coredat = pd.read_csv('/content/drive/MyDrive/basball analytics folder/Teams.csv')

In [ ]:
pitching = pd.read_csv('/content/drive/MyDrive/basball analytics folder/Pitching.csv')

In [ ]:
batting = pd.read_csv('/content/drive/MyDrive/basball analytics folder/Batting.csv')

In [ ]:
fielding = pd.read_csv('/content/drive/MyDrive/basball analytics folder/Fielding.csv')

In [ ]:
records = pd.read_csv('/content/drive/MyDrive/basball analytics folder/Records.csv')

In [ ]:
### chcecking that coredat and records match
print(len(records))
print(len(coredat))

2955
2955

In [ ]:
### merging datasets

from pandas.core.reshape.merge import merge
coredat = merge(coredat,records)

In [ ]:
### checking proper merge
for col in coredat.columns:
  print(col)

yearID
lgID
teamID
franchID
divID
Rank
Ghome
DivWin
WCWin
LgWin
WSWin
name
park
attendance
BPF
PPF
teamIDBR
teamIDlahman45
teamIDretro
G
W
L
R
AB
H
2B
3B
HR
BB
SO
SB
CS
HBP
SF
RA
ER
ERA
CG
SHO
SV
IPouts
HA
HRA
BBA
SOA
E
DP
FP

In [ ]:
coredat = coredat.loc[coredat.yearID > 1946]
# selecting from 1947 on as a useful and interesting definition of "modern era"

In [ ]:
sels  = ["yearID", "franchID", "W", "L", "R", "BB", "H", "2B", "3B", "HR", "ER", "ERA", "RA"]

In [ ]:
paredat = coredat[sels]

In [ ]:
paredat['HRnorm'] = paredat.groupby('yearID')['HR'].transform('max')
paredat['HRnorm'] = paredat["HR"]/paredat["HRnorm"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
paredat['ERAnorm'] = paredat.groupby('yearID')['ERA'].transform('max')
paredat['ERAnorm'] = paredat["ERA"]/paredat["ERAnorm"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
paredat['Rnorm'] = paredat.groupby('yearID')['R'].transform('max')
paredat['Rnorm'] = paredat["R"]/paredat["Rnorm"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
paredat['BBnorm'] = paredat.groupby('yearID')['BB'].transform('max')
paredat['BBnorm'] = paredat["BB"]/paredat["BBnorm"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
paredat['RAnorm'] = paredat.groupby('yearID')['RA'].transform('max')
paredat['RAnorm'] = paredat["RA"]/paredat["RAnorm"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
paredat['iERAnorm'] = 1-paredat['ERAnorm']

In [ ]:
paredat['iRAnorm'] = 1-paredat['RAnorm']

In [ ]:
paredat.head()

,yearID,franchID,W,L,R,BB,H,2B,3B,HR,ER,ERA,RA,HRnorm,ERAnorm,Rnorm,BBnorm,RAnorm,iERAnorm,iRAnorm
1135,1947,BOS,83,71,720,666.0,1412,206,54,103,589,3.81,669,0.466063,0.814103,0.867470,0.874016,0.818849,0.185897,0.181151
1136,1947,LAD,94,60,774,732.0,1428,241,50,83,584,3.82,668,0.375566,0.816239,0.932530,0.960630,0.817625,0.183761,0.182375
1137,1947,ATL,86,68,701,558.0,1444,265,42,85,548,3.62,622,0.384615,0.773504,0.844578,0.732283,0.761322,0.226496,0.238678
1138,1947,CHW,70,84,553,492.0,1350,211,41,53,563,3.64,661,0.239819,0.777778,0.666265,0.645669,0.809058,0.222222,0.190942
1139,1947,CHC,69,85,567,471.0,1373,231,48,71,614,4.04,722,0.321267,0.863248,0.683133,0.618110,0.883721,0.136752,0.116279

In [ ]:
paredat['SO2'] = paredat['iRAnorm'] + paredat['Rnorm']

In [ ]:
paredat['SO'] = paredat['iERAnorm'] + paredat['Rnorm']

In [ ]:
paredat.tail()

In [ ]:
corrmatrix = paredat.corr()

In [ ]:
winmat = corrmatrix['W']

In [ ]:
print(corrmatrix['W'])

yearID     -0.031991
W           1.000000
L          -0.382590
R           0.695215
BB          0.547480
H           0.644403
2B          0.441725
3B          0.188585
HR          0.432656
ER         -0.049437
ERA        -0.489563
RA         -0.062704
HRnorm      0.353259
ERAnorm    -0.535701
Rnorm       0.551459
BBnorm      0.318872
RAnorm     -0.531239
iERAnorm    0.535701
iRAnorm     0.531239
SO2         0.745625
SO          0.752458
Name: W, dtype: float64

In [ ]:
print(corrmatrix['SO'])

yearID      0.026567
W           0.752458
L          -0.733469
R           0.460901
BB          0.296266
H           0.226244
2B          0.200765
3B          0.048799
HR          0.334734
ER         -0.431081
ERA        -0.549697
RA         -0.450298
HRnorm      0.406996
ERAnorm    -0.744361
Rnorm       0.698108
BBnorm      0.389645
RAnorm     -0.729050
iERAnorm    0.744361
iRAnorm     0.729050
SO2         0.983282
SO          1.000000
Name: SO, dtype: float64

In [ ]:
cormat = pd.DataFrame.to_csv(winmat)

In [ ]:
paredat = pd.DataFrame.to_csv(paredat)

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
with open('/content/gdrive/My Drive/bball.csv', 'w') as f:
  f.write(paredat)

In [ ]:
with open('/content/gdrive/My Drive/cor.csv', 'w') as f:
  f.write(cormat)